body {
    background: url(../friday.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    
    }
    .main-container {
        font-size: 20px;
      
        .wrapper {
          display: flex;
          max-width: 1600px;
          padding: 0 200px;
          position: relative;
          margin: auto;
      
          h1 {
            font-family: URW Chancery L;
            text-align: center;
            color: #b12f2f;
            font-size: 40px;
            text-decoration: none;
          }
          h1:hover {
            color: rgb(226, 212, 13);
          }
        
        .nav {
          width: 100%;
          justify-content: space-between;
          font-family: Marker Felt, fantasy;
          padding-top: 60px;
          position: relative;
          
  
          div.navigation-links {
            font-weight: 700;
            line-height: 34px;
            display: flex;
            word-break:break-all;
  
            a {
  
              width: 100%;
              letter-spacing: 1px;
              text-decoration: none;
              padding-left: 60px;
              text-align: center;
              color: #46cff1;
              font-size: 30px;
              line-height: 1;
              font-weight: 900;
              opacity: 1;
            }
       
            a:hover {
              color: #85ec8e;
            }
          }
        }
      }
      
       
        .sweets {
          max-width: 1600px;
          margin: auto;
          position: relative;
          text-align: center;
          padding: 50px 200px;
          font-family: Courier New, monospace;
          color: #8f7a37;
          letter-spacing: 1px;
          display: inline-flexbox;
  
          h4 {
            font-size: 30px;
            letter-spacing: 2px;
            padding-bottom: 0px;
            margin-bottom: 0px;
            color: #e4a276
          }
          ul {
            list-style-type: none;
        
          
          }
          li:hover {
            color: #bd5252
  
          }
   
        }
    }  