body {
  background: url(../shopjpg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;

}
.main-container {
    font-size: 20px;
  
    .wrapper {
      max-width: 1600px;
      padding: 0 200px;
      position: relative;
      margin: auto;

      a{
        text-decoration: none;

  
      h1 {
        font-family: Impact, fantasy;
        text-align: center;
        color: #eed8d8;
        font-size: 40px;
        text-decoration: none;
      }
    }
  }
  
    nav {
      width: 100%;
      justify-content: space-between;
      font-family: Marker Felt, fantasy;
      padding-top: 50px;
  
        a {
          text-transform: uppercase;
          opacity: 1;
          color: #000000;
          font-size: 20px;
          color: #ffffff;
          line-height: 1;
          font-weight: 900;
        }
      
  
     div.navigation-links {
        font-weight: 700;
        line-height: 34px;
        word-break: break-all;
        
  
        a {

          width: 100%;
          letter-spacing: 1px;
          text-decoration: none;
          padding-left: 60px;
          text-align: center;
          color: burlywood;
          font-size: 30px;
          line-height: 1;
          font-weight: 900;
          opacity: 1;
        }
  
        a:hover {
          color: rgb(243, 238, 231);
        }
      }
    }
}  