body {
  background: url(../shopjpg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.main-container {
  font-size: 20px;
}

.main-container .wrapper {
  max-width: 1600px;
  padding: 0 200px;
  position: relative;
  margin: auto;
}

.main-container .wrapper a {
  text-decoration: none;
}

.main-container .wrapper a h1 {
  font-family: Impact, fantasy;
  text-align: center;
  color: #eed8d8;
  font-size: 40px;
  text-decoration: none;
}

.main-container nav {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: Marker Felt, fantasy;
  padding-top: 50px;
}

.main-container nav a {
  text-transform: uppercase;
  opacity: 1;
  color: #000000;
  font-size: 20px;
  color: #ffffff;
  line-height: 1;
  font-weight: 900;
}

.main-container nav div.navigation-links {
  font-weight: 700;
  line-height: 34px;
  word-break: break-all;
}

.main-container nav div.navigation-links a {
  width: 100%;
  letter-spacing: 1px;
  text-decoration: none;
  padding-left: 60px;
  text-align: center;
  color: burlywood;
  font-size: 30px;
  line-height: 1;
  font-weight: 900;
  opacity: 1;
}

.main-container nav div.navigation-links a:hover {
  color: #f3eee7;
}
/*# sourceMappingURL=monday.css.map */