body {
  background: url(../thursday.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.main-container {
  font-size: 20px;
}

.main-container .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1600px;
  padding: 0 200px;
  position: relative;
  margin: auto;
}

.main-container .wrapper h1 {
  font-family: URW Chancery L;
  text-align: center;
  color: #ffffff;
  font-size: 40px;
  text-decoration: none;
}

.main-container .wrapper h1:hover {
  color: #e2d40d;
}

.main-container .wrapper .nav {
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: Marker Felt, fantasy;
  padding-top: 60px;
  position: relative;
}

.main-container .wrapper .nav div.navigation-links {
  font-weight: 700;
  line-height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  word-break: break-all;
}

.main-container .wrapper .nav div.navigation-links a {
  width: 100%;
  letter-spacing: 1px;
  text-decoration: none;
  padding-left: 60px;
  text-align: center;
  color: #edeeaa;
  font-size: 30px;
  line-height: 1;
  font-weight: 900;
  opacity: 1;
}

.main-container .wrapper .nav div.navigation-links a:hover {
  color: #85ec8e;
}

.main-container .sweets {
  max-width: 1600px;
  margin: auto;
  text-align: left;
  padding: 50px 200px;
  font-family: URW Chancery L;
  color: #ffffff;
  letter-spacing: 1px;
  line-height: 2;
  font-size: 30px;
}

.coat {
  margin-left: 100px;
  color: #969ad4;
}

.jeans {
  margin-left: 200px;
  color: #cf7e70;
}

.track {
  margin-left: 300px;
  color: #47b150;
}

.shirt {
  margin-left: 400px;
  color: #e3f097;
}

.pants {
  margin-left: 500px;
  color: #9c78dd;
}

.skirt {
  margin-left: 600px;
  color: #85ec8e;
}

.jacket {
  margin-left: 700px;
  color: #58e7db;
  margin-bottom: -120px;
}

.boots {
  margin-left: 800px;
  color: #ec85de;
  margin-bottom: -120px;
}

.trainers {
  margin-left: 900px;
  color: #957dcf;
}

.main-container .sweets h4 {
  font-size: 40px;
  letter-spacing: 15px;
  padding-bottom: 0px;
  margin-left: 550px;
  color: #ffffff;
}

.main-container .sweets ul {
  list-style-type: none;
}

.main-container .sweets li:hover {
  color: #ffffff;
}
/*# sourceMappingURL=thursday.css.map */