body {
  // max-width: 1600px;
  background: url(../tues.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  
  }
  .main-container {
      font-size: 20px;
    
      .wrapper {
        display: flex;
        max-width: 1600px;
        padding: 0 200px;
        position: relative;
        margin: auto;

        h1 {
          font-family: URW Chancery L;
          text-align: center;
          color: #75a735;
          font-size: 40px;
          text-decoration: none;
        }
        h1:hover {
          color: rgb(226, 212, 13);
        }
      
      .nav {
        width: 100%;
        justify-content: space-between;
        font-family: Marker Felt, fantasy;
        padding-top: 50px;
        

        div.navigation-links {
          font-weight: 700;
          line-height: 34px;
          display: flex;
          word-break:break-all;

          a {

            width: 100%;
            letter-spacing: 1px;
            text-decoration: none;
            padding-left: 60px;
            text-align: center;
            color: #75a735;
            font-size: 30px;
            line-height: 1;
            font-weight: 900;
            opacity: 1;
          }
     
          a:hover {
            color: #ee5159;
          }
        }
      }
    }
    
     
      .sweets {
        max-width: 1600px;
        margin: auto;
        text-align: center;
        position: relative;
        text-align: right;
        // margin-left: 900px;
        padding: 50px 200px;
        font-family: Courier New, monospace;
        color: #75a735;
        letter-spacing: 1px;
        line-height: 2;


        h4 {
          font-size: 30px;
          letter-spacing: 10px;
          padding-bottom: 0px;
          margin-bottom: 0px;
          color: #ee5159
        }
        ul {
          list-style-type: none;
          // position: fixed;
        }
        li:hover {
          color: #f5f5f5

        }
      }
  }  