body {
  background: url(../tues.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.main-container {
  font-size: 20px;
}

.main-container .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1600px;
  padding: 0 200px;
  position: relative;
  margin: auto;
}

.main-container .wrapper h1 {
  font-family: URW Chancery L;
  text-align: center;
  color: #75a735;
  font-size: 40px;
  text-decoration: none;
}

.main-container .wrapper h1:hover {
  color: #e2d40d;
}

.main-container .wrapper .nav {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: Marker Felt, fantasy;
  padding-top: 50px;
}

.main-container .wrapper .nav div.navigation-links {
  font-weight: 700;
  line-height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  word-break: break-all;
}

.main-container .wrapper .nav div.navigation-links a {
  width: 100%;
  letter-spacing: 1px;
  text-decoration: none;
  padding-left: 60px;
  text-align: center;
  color: #75a735;
  font-size: 30px;
  line-height: 1;
  font-weight: 900;
  opacity: 1;
}

.main-container .wrapper .nav div.navigation-links a:hover {
  color: #ee5159;
}

.main-container .sweets {
  max-width: 1600px;
  margin: auto;
  text-align: center;
  position: relative;
  text-align: right;
  padding: 50px 200px;
  font-family: Courier New, monospace;
  color: #75a735;
  letter-spacing: 1px;
  line-height: 2;
}

.main-container .sweets h4 {
  font-size: 30px;
  letter-spacing: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  color: #ee5159;
}

.main-container .sweets ul {
  list-style-type: none;
}

.main-container .sweets li:hover {
  color: #f5f5f5;
}
/*# sourceMappingURL=tuesday.css.map */